In [5]:
!pip install kagglehub

Collecting kagglehub
  Downloading kagglehub-0.3.6-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: packaging in c:\users\jakub\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (24.0)
Requirement already satisfied: requests in c:\users\jakub\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in c:\users\jakub\appdata\local\programs\python\python312\lib\site-packages (from kagglehub) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\jakub\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\jakub\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\jakub\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jakub\appdata\local\programs\python\python312\lib\site-packages (from requests->kagglehub) (2024.6.2)
Requirement already satisfied: colorama in c:\users\jakub\appdata\roaming\python\python312\site-packages (from tqdm->kagglehub) (0.4.6)
Downloading kagglehub-0.3.6-py3-none-any.whl (51 kB)
   ---------------------------------------- 0.0/51.9 kB ? eta -:--:--
   ---------------------------------------  51.2/51.9 kB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 51.9/51.9 kB 1.3 MB/s eta 0:00:00
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.6

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas as pd
import os

# Readers Data

Wczytanie plików wygenerowanych w Mockaroo

In [1]:
files = {
    'data_readers1.csv',
    'data_readers2.csv',
    'data_readers3.csv',
    'data_readers4.csv',
    'data_readers5.csv'
}

In [4]:
df_list = []

for f in files:
    if os.path.exists(f):
        df_temp = pd.read_csv(f)  # wczytaj CSV do tymczasowego DataFrame
        df_list.append(df_temp)
    else:
        print(f"UWAGA: Plik {f} nie istnieje w tej ścieżce.")

Połączenie danych w jedną tabele

In [5]:
df_merged = pd.concat(df_list, ignore_index=True)
print(f"Liczba wierszy po scaleniu: {len(df_merged)}")

Liczba wierszy po scaleniu: 5000

In [6]:
df_merged.to_json("readers_data.json", orient="records", force_ascii=False)

Wyświetlenie połączonych danych

In [7]:
df_readers_json = pd.read_json('readers_data.json')
display(df_readers_json.head(15).style.hide(axis='index'))

# Books Data

Import danych z Kaggle

In [9]:
import kagglehub

# Download latest version
# Download latest version
path = kagglehub.dataset_download("dylanjcastillo/7k-books-with-metadata")

print("Path to dataset files:", path)

c:\Users\Jakub\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\Jakub\.cache\kagglehub\datasets\dylanjcastillo\7k-books-with-metadata\versions\3

In [10]:
files = os.listdir(path)
print(files)

['books.csv']

Wyświetlenie przykładowych danych

In [11]:
csv_file = os.path.join(path, 'books.csv')
df = pd.read_csv(csv_file)
# Dodanie kolumny ID
df.insert(0, 'ID', range(1, len(df) + 1))  # ID od 1 do liczby wierszy w danych
df.head(10).style.hide(axis='index')

Usunęcie niepotrzebych kolumn

In [12]:
df = df.drop(['isbn13', 'isbn10', 'thumbnail', 'description','ratings_count'], axis=1)
df.head(10).style.hide(axis='index')

Łączenie kolumny title oraz subtitle

In [13]:
df['merged_title'] = df['title'].fillna('') + ' ' + df['subtitle'].fillna('')
df['merged_title'] = df['merged_title'].str.strip()

In [14]:
df = df.drop(['title', 'subtitle'], axis=1)

In [15]:
df.head(20).style.hide(axis='index')

Zamiania typu danych w kolumnach published_year oraz num_pages

In [16]:
df['published_year'] = pd.to_numeric(df['published_year'].astype(str).str.replace(',', '.', regex=False), errors='coerce').astype('Int64')
df['num_pages'] = pd.to_numeric(df['num_pages'].astype(str).str.replace(',', '.', regex=False), errors='coerce').astype('Int64')
df.head(20).style.hide(axis='index')

Export danych do pliku csv

In [17]:
df.to_json("books_data.json", orient="records", force_ascii=False)

Wyświetlenie danych

In [18]:
df_books_data_json = pd.read_json('books_data.json')
# Zamiast display(df_jason(head(10)))
display(df_books_data_json.head(10).style.hide(axis='index'))

# Borrowing Data

In [19]:
import json
import random
from datetime import datetime, timedelta

Funkcja generująca daty

In [20]:
def generate_dates_json(filename, num_rows=30000):
    """
    Generuje plik JSON z dwoma polami dat:
    - data wypożyczenia
    - data oddania

    Daty mieszczą się w roku 2024 i zawsze data oddania >= data wypożyczenia.
    """
    start_date = datetime(2024, 1, 1)
    end_date = datetime(2024, 12, 31)

    delta = end_date - start_date
    total_days = delta.days + 1  # +1 bo liczymy także ostatni dzień

    data = []

    for _ in range(num_rows):
        borrow_offset = random.randint(0, total_days - 1)
        borrow_date = start_date + timedelta(days=borrow_offset)

        max_return_offset = min(30, (end_date - borrow_date).days)
        return_offset = random.randint(0, max_return_offset)
        return_date = borrow_date + timedelta(days=return_offset)

        data.append({
            "borrowing_date": borrow_date.strftime('%Y-%m-%d'),
            "return_date": return_date.strftime('%Y-%m-%d')
        })

    with open(filename, 'w', encoding='utf-8') as jsonfile:
        json.dump(data, jsonfile, indent=2, ensure_ascii=False)

if __name__ == "__main__":
    generate_dates_json("borrowing_dates.json", num_rows=30000)
    print("Plik borrowing_dates.json został pomyślnie wygenerowany!")

Plik borrowing_dates.json został pomyślnie wygenerowany!

Skopiowanie danych w library_card_id do 30 000 rekordów wraz z randomizacją

In [35]:
# Path to the uploaded file
file_path = 'readers_data.json'

# Load the data from the file
with open(file_path, 'r') as file:
    data = json.load(file)

# Extract only the "library_card_id" from each record, handling nested structures
library_card_ids = []
for record in data:
    if isinstance(record["library_card_id"], dict):
        library_card_ids.append(record["library_card_id"]["library_card_id"])
    else:
        library_card_ids.append(record["library_card_id"])

# Prepare the output file
output_file_path = 'library_card_ids.json'
random_sample_dicts = []

# Add one random record at a time until we have 30,000 records
while len(random_sample_dicts) < 30000:
    random_record = random.choice(library_card_ids)
    random_sample_dicts.append({"library_card_id": random_record})

# Save the sampled data to the output file
with open(output_file_path, 'w') as output_file:
    json.dump(random_sample_dicts, output_file, indent=4)

print(f"Exactly 30,000 random library card IDs saved to '{output_file_path}'")

Exactly 30,000 random library card IDs saved to 'library_card_ids.json'

Skopiowanie danych w ID do 30 000 rekordów wraz z randomizacją

In [36]:
# Path to the new file with uploaded data
new_file_path = 'books_data.json'

# Load the data from the file
with open(new_file_path, 'r', encoding='utf-8') as file:
    books_data = json.load(file)

# Extract only the "ID" field from each record
book_ids = []

# Add one random record at a time until we have 30,000 records
while len(book_ids) < 30000:
    random_record = random.choice(books_data)
    book_ids.append({"ID": random_record["ID"]})

# Save the sampled data to a new output file
output_file_path_books = 'books_ids.json'
with open(output_file_path_books, 'w', encoding='utf-8') as output_file:
    json.dump(book_ids, output_file, indent=4)

print(f"Exactly 30,000 random book IDs saved to '{output_file_path_books}'")

Exactly 30,000 random book IDs saved to 'books_ids.json'

Łączenie plików w jeden

In [38]:
# Paths to the uploaded files
borrowing_file_path = 'borrowing_dates.json'
large_book_ids_file_path = 'books_ids.json'
library_card_ids_file_path = 'library_card_ids.json'

# Load data from the files
with open(borrowing_file_path, 'r') as borrowing_file:
    borrowing_data = json.load(borrowing_file)

with open(large_book_ids_file_path, 'r') as book_ids_file:
    book_ids_data = json.load(book_ids_file)

with open(library_card_ids_file_path, 'r') as library_card_ids_file:
    library_card_ids_data = json.load(library_card_ids_file)

# Ensure all lists have the same length
min_length = min(len(borrowing_data), len(book_ids_data), len(library_card_ids_data))
borrowing_data = borrowing_data[:min_length]
book_ids_data = book_ids_data[:min_length]
library_card_ids_data = library_card_ids_data[:min_length]

# Combine the data into one list of dictionaries
combined_data = [
    {
        "borrowing_date": borrowing_data[i]["borrowing_date"],
        "return_date": borrowing_data[i]["return_date"],
        "book_id": book_ids_data[i]["ID"],
        "library_card_id": library_card_ids_data[i]["library_card_id"]
    }
    for i in range(min_length)
]

# Save the combined data to a new JSON file
output_combined_file_path = 'borrowing_data.json'
with open(output_combined_file_path, 'w') as combined_file:
    json.dump(combined_data, combined_file, indent=2)

output_combined_file_path

'borrowing_data.json'